<div class="center">
  <h1>
    {{ title }}
  </h1>
  <hr/>
</div>

<!-- Input Choices -->

<div class="container">
  <form>
    <div class="row">
      <div class="col-md-4">
        Number of Players:
        <input #n_players type="number" [defaultValue]="4" (change)="setPlayers(n_players.value)" ngModel>
      </div>
      <div class="col-md-4">
        Number of Stats:
        <input #n_stats type="number" [defaultValue]="6" (change)="setStats(n_stats.value)" ngModel>
      </div>
      <div class="col-md-4">
        Auto Roll Stats using an RNG?
        <input #auto_roll type="checkbox" [defaultValue]="false" (change)="setAutoRoll(auto_roll.value)" ngModel disabled>
      </div>
    </div>

    <div class="row" id="inputs">
      <div class="col-md-2" *ngFor="let player of playerArray">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <input #playerName [value]="player.name" (change)="player.setName(playerName.value)" ngModel>
            </h3>
          </div>
          <div class="panel-body">
            <div class="stat" *ngFor="let stat of player.stats">
              <label> {{stat.name}}
                <input #statVal [value]="stat.value" (change)="stat.setValue(statVal.value)" ngModel>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="center">
      <input type="button" (click)="distribute()" value="Distribute Stats">
    </div>
  </form>
</div>
