<div class="jumbotron text-center jumbotronBG">
  <h1>
    {{ title }}
  </h1>
</div>

<ng-template #statsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Deep Dive Statistics</h4>
  </div>
    <div class="modal-body">
      <div class="row">
        <canvas baseChart
                [data]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>
      </div>
      <div class="row">
        <div class="col-md-6">
          Arithmetic Mean: {{statData.mean}}
        </div>
        <div class="col-md-6">
          Standard Deviation: {{statData.std}}
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>

<!-- Input Choices -->
<div class="section">
  <div class="container padded">

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <h2>Players:</h2>
          </div>
          <div class="col-md-8 input-group mb-1">
          <span class="input-group-btn">
            <button class="btn btn-outline-secondary input-group-btn" (click)="n_players = (n_players - 1); setPlayers(n_players);"><i class="fas fa-minus"></i></button>
          </span>
            <h3 class="padSides">{{n_players}}</h3>
            <span class="input-group-btn">
            <button class="btn btn-outline-secondary input-group-btn" (click)="n_players = (n_players + 1); setPlayers(n_players);"><i class="fas fa-plus"></i></button>
          </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <h2>Stats:</h2>
          </div>
          <div class="col-md-8 input-group mb-1">
            <span class="input-group-btn">
              <button class="btn btn-outline-secondary input-group-btn" (click)="n_stats = (n_stats - 1); setStats(n_stats);"><i class="fas fa-minus"></i></button>
            </span>
            <h2 class="padSides">{{n_stats}}</h2>
            <span class="input-group-btn">
              <button class="btn btn-outline-secondary input-group-btn" (click)="n_stats = (n_stats + 1); setStats(n_stats);"><i class="fas fa-plus"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-8">
            <h3>4d6 drop lowest:</h3>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-outline-secondary" (click)="roll()">Roll Stats</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container padded">
    <div class="row">
      <div class="col-md-2 statBloc" *ngFor="let player of playerArray; let i = index;">
        <div class="panel panel-primary card statBloc" [ngStyle]="getColor(i)">
          <div class="panel-heading">
            <h3 class="panel-title">
              <input class="form-control" #playerName [value]="player.name" (change)="player.setName(playerName.value)" ngModel>
            </h3>
          </div>
          <div class="panel-body">
            <div class="stat" *ngFor="let stat of player.stats">
              <label> {{stat.name}}
                <input class="form-control" #statVal [value]="stat.value" (change)="stat.setValue(statVal.value)" ngModel>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center padded">
        <button type="button" class="btn btn-secondary btn-block tall" (click)="distribute()">Distribute Stats</button>
      </div>
      <div class="col-md-4 text-center padded">
        <button type="button" class="btn btn-secondary btn-block" (click)="randomizeStats()">Shuffle Player Stats</button>
      </div>
      <div class="col-md-4 text-center padded">
        <button type="button" class="btn btn-secondary btn-block" (click)="showStatModal(statsModal)">Stats Stats</button>
      </div>
    </div>
  </div>
</div>
