.padded{
  padding-top: 2rem;
}
.statBloc{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
.jumbotronBG{
  background-color: #c17c74;
}
.padSides {
  padding-left : 0.5rem;
  padding-right : 0.5rem;
}
